// app global css in SCSS form
@import url(./_header.scss);
* {
  box-sizing: border-box;
}
.constrain {
  max-width: 1200px;
  margin: 0 auto;
}
.constrain_more {
  max-width: 975px;
  margin: 0 auto;
}
.radius_border {
  border: 1px solid #919191;
  border-radius: 5px;
}
.clickable {
  cursor: pointer;
}
