// app global css in SCSS form
@import url(./_header.scss);

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
::selection {
  background: $primary;
  color: $grey-1;
}

.constrain {
  max-width: 1200px;
  margin: 0 auto;
}
.constrain_md {
  max-width: 978px;
  margin: 0 auto;
}
.constrain_sm {
  max-width: 768px;
  margin: 0 auto;
}
.radius_border {
  border: 1px solid #919191;
  border-radius: 5px;
}
.clickable {
  cursor: pointer;
}
.unclickable {
  cursor: initial;
  pointer-events: none; // 마우스 클릭 안되게
}
.section_title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0125em;
  color: $grey-9;
}

.small_screen_only {
  @media (max-width: $breakpoint-xs-max) {
    display: block;
  }
  @media (min-width: $breakpoint-sm-min) {
    display: none;
  }
}

.large_screen_only {
  @media (max-width: $breakpoint-xs-max) {
    display: none;
  }
  @media (min-width: $breakpoint-sm-min) {
    display: block;
  }
}
