.title-area-inner {
  .input-box {
    width: 100%;
    border: none;
    text-align: center;
    background-color: transparent;
    color: #fff;
    &:focus {
      outline: none;
    }
    &.title {
      left: 0;
      font-size: 34px;
    }
    &.description {
      left: 0;
      font-size: 16px;
      bottom: 0px;
      left: 0;
    }
    &::placeholder {
      color: #ccc;
    }
  }
  .writer-info {
    position: absolute;
    bottom: -60%;
    right: 20px;
    // transform: translate(-50%, 0);
    color: #fff;
    opacity: 0.8;
    .user {
      margin-right: 15px;
    }
  }
}
